<section class="bg-light-blue">
    <div class="container">
        <!-- <div class="row justify-content-center wow animate__fadeIn" style="visibility: visible; animation-name: fadeIn;">
            <div class="col-12 col-xl-6 col-lg-7 col-sm-8 text-center margin-5-rem-bottom md-margin-5-rem-bottom">
                <span class="d-inline-block alt-font text-medium text-gradient-sky-blue-pink text-uppercase font-weight-500 margin-20px-bottom sm-margin-15px-bottom">our premium services</span>
                <h5 class="alt-font text-extra-dark-gray font-weight-600 letter-spacing-minus-1px">Litho specializes in creativity design and innovative technology</h5>
            </div>
        </div> -->
        <div class="row justify-content-center">
            <!-- start feature box item -->
            <div class="col-12 col-lg-4 col-md-9 margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn mb-4 mb-lg-0" style="visibility: visible; animation-name: fadeIn;">
                <div class="feature-box h-100 feature-box-left-icon border-radius-5px bg-white box-shadow-small box-shadow-extra-large-hover overflow-hidden padding-2-rem-all">

                    <div class="feature-box-content last-paragraph-no-margin">
                        <img src="../../../../assets/images/page 17/image 1.jpg" alt="image">
                        <h2 class="alt-font font-weight-500 margin-10px-bottom d-block text-extra-dark-gray text-center margin-top">Jobs</h2>
                        <ul>
                            <li>Available Jobs/Posts:</li>
                            <li>Photographer/Videographer</li>
                            <li>Virtual Assistance</li>
                            <li>IT Manager</li>
                            <li>Sales Manager</li>
                            <li>HR Manager</li>
                        </ul>
                        <p>We are here ready to know more about your interests and skills which can be converted into something powerful and meaningful for the community.</p>
                    </div>
                </div>
            </div>
            <!-- end feature box item -->
            <!-- start feature box item -->
            <div class="col-12 col-lg-4 col-md-9 margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn mb-4 mb-lg-0" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                <div class="feature-box h-100 feature-box-left-icon border-radius-5px bg-white box-shadow-small box-shadow-extra-large-hover overflow-hidden padding-2-rem-all">
                   
                    <div class="feature-box-content last-paragraph-no-margin">
                        <img src="../../../../assets/images/page 17/image 2.jpg" alt="image">
                        <h2 class="alt-font font-weight-500 margin-10px-bottom d-block text-extra-dark-gray text-center margin-top">Volunteer</h2>
                        <p>Interested in volunteering your time and skills, please reach out!</p>
                    </div>
                </div>
            </div>
            <!-- end feature box item -->
            <!-- start feature box item -->
            <div class="col-12 col-lg-4 col-md-9 md-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                <div class="feature-box h-100 feature-box-left-icon border-radius-5px bg-white box-shadow-small box-shadow-extra-large-hover overflow-hidden padding-2-rem-all">
                    
                    <div class="feature-box-content last-paragraph-no-margin">
                        <img src="../../../../assets/images/page 17/image 3.jpg" alt="image">
                        <h2 class="alt-font font-weight-500 margin-10px-bottom d-block text-extra-dark-gray text-center margin-top">Be a Business Partner</h2>
                        <p>Looking for some collaborations to grow your business, let’s do it together!</p>
                    </div>
                </div>                        
            </div>
            <!-- end feature box item -->
            
        </div>

        <div class="row align-items-center justify-content-center mt-5">
            <div class="col-12 col-lg-12 btn-dual text-center">
                <a href="/contact" class="btn btn-large btn-gradient-sky-blue-pink btn-slide-left-bg d-table d-lg-inline-block lg-margin-15px-bottom md-margin-auto-lr fs-4 mt-5">Contact Us<span class="bg-dark-slate-blue"></span></a>
            </div>
        </div>
    </div>
</section>