<!-- header start here -->
<div class="container-fluid header_bg d-none d-lg-block">
    <!-- <div class="row col-md-12 social-header"> --> <!--7/12/2022-->
    <div class="row social-header"> <!--7/12/2022-->
        <!-- <div class="col-12 col-md-6 header_center"> -->
        <div class="col-md-2 header_center">
            <a href="tel:+1 210 589 4693" class="header_setting">
                <!-- Let's make the change happen by redefining the things we can - Anju K -->
                +1 210 589 4693
            </a>
        </div>
        <div class="col-md-8 header_center text-center">
            <a href="#" class="header_setting">
                <!-- Let's make the change happen by redefining the things we can - Anju K -->
                Get ready to begin the journey of healing towards YOUR Peace…
            </a>
        </div>
        <!-- <div class="col-12 col-md-6 align-self-center header_right"> -->
        <div class="col-md-2 align-self-center header_right">
            <div class="text-center d-inline-block" *ngFor="let data of socialLinkData | async">
                <a class="display_table" target="_blank" href="{{data?.link_url}}">
                    <div class="verticle_middle"><i class="{{data?.link_name}}"></i></div>
                </a>
            </div>
            <!-- <div class="clearfix"></div> -->
        </div>
    </div>
</div>
<div class="sticky-top sticky">
    <section class="header_main header_padding">
        <div class="container-fluid">
            <div class="row">
                <nav class="navbar navbar-expand-md navbar-light nav-header shadow">
                    <a [routerLink]="['/index']" class="navbar-brand logo"> <img
                            src="../../../../assets/images/logo1.png" alt="img" class="logo_width" />
                    </a>
                    <div class="btn-navbar">
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#collapsibleNavbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
                        <ul class="navbar-nav main-menu">
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['/index']" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact:
                                    true}" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Home
                                </a>
                            </li>
                            <li class="nav-item has-child">
                                <a class="nav-link" [ngClass]="aboutMenu ? 'active':''"
                                    (click)="openAboutSubMenu()">About Us<i class="bi bi-chevron-down"></i>
                                </a>
                                <ul class="sub-menu" [ngClass]="isAboutSubMenuOpen?'opened':''">
                                    <li>
                                        <a [routerLink]="['/about-us/our-ceo-and-founder']" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact:
                                             true}" data-bs-toggle="collapse"
                                            data-bs-target=".navbar-collapse.show">Our CEO &
                                            Founder
                                        </a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/about-us/our-story']" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact:
                                            true}" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Our
                                            Story
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item has-child">
                                <a class="nav-link" (click)="openServiceSubMenu()"
                                    [ngClass]="serviceMenu ? 'active':''">Services<i class="bi bi-chevron-down"></i>
                                </a>
                                <ul class="sub-menu" [ngClass]="isServiceSubMenuOpen?'opened':''">
                                    <li>
                                        <a [routerLink]="['/services/regain-workshops']" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact:
                                             true}" data-bs-toggle="collapse"
                                            data-bs-target=".navbar-collapse.show">Regain
                                            Workshops
                                        </a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/services/reading-writing-groups']" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact:
                                             true}" data-bs-toggle="collapse"
                                            data-bs-target=".navbar-collapse.show">Reading/Writing
                                            Groups
                                        </a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/services/individual-sessions']" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact:
                                             true}" data-bs-toggle="collapse"
                                            data-bs-target=".navbar-collapse.show">Individual
                                            Sessions
                                        </a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/services/group-coaching']" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact:
                                             true}" data-bs-toggle="collapse"
                                            data-bs-target=".navbar-collapse.show">Group Coaching
                                        </a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/services/seminars-webinars']" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact:
                                             true}" data-bs-toggle="collapse"
                                            data-bs-target=".navbar-collapse.show">Seminars &
                                            Webinars
                                        </a>
                                    </li>
                                </ul>
                            </li>
                           <!-- <li class="nav-item has-child"> 
                                <a class="nav-link" [ngClass]="shopMenu ? 'active':''"
                                    (click)="openShopSubMenu()">Shop<i class="bi bi-chevron-down"></i>
                                </a>
                                <ul class="sub-menu" [ngClass]="isShopSubMenuOpen?'opened':''">
                                    <li>
                                        <a [routerLink]="['/shop/re-vamped-store']" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact:
                                         true}" data-bs-toggle="collapse"
                                            data-bs-target=".navbar-collapse.show">Re-Vamped Store
                                        </a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/shop/affirmations-store']" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact:
                                         true}" data-bs-toggle="collapse"
                                            data-bs-target=".navbar-collapse.show">Merchandise
                                        </a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/shop/artworks-and-paintings']" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact:
                                              true}" data-bs-toggle="collapse"
                                            data-bs-target=".navbar-collapse.show">Artworks
                                        </a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/shop/membership']" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact:
                                             true}" data-bs-toggle="collapse"
                                            data-bs-target=".navbar-collapse.show">Memberships
                                        </a>
                                    </li>
                                </ul>
                            </li>-->
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['/blogs']" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact:
                                      true}" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Blogs
                                </a>
                            </li>
                            <li class="nav-item has-child">
                                <a class="nav-link" [ngClass]="resourcesMenu ? 'active':''"
                                    (click)="openResourcesSubMenu()">Resources<i class="bi bi-chevron-down"></i>
                                </a>
                                <ul class="sub-menu" [ngClass]="isResourcesSubMenuOpen?'opened':''">
                                    <li>
                                        <a [routerLink]="['resources/community-partners']" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact:
                                         true}" data-bs-toggle="collapse"
                                            data-bs-target=".navbar-collapse.show">Community Partners
                                        </a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['resources/business-partners']" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact:
                                          true}" data-bs-toggle="collapse"
                                            data-bs-target=".navbar-collapse.show">Business Partners
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['/join']" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact:
                                   true}" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Join
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['/membership']" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact:
                                   true}" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Membership
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['/support']" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact:
                                   true}" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Support
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact:
                                 true}" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Contact
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </section>
</div>
<!-- <div class="container-fluid header_bg">
    <div class="container">
        <div class="row">
            <div class="col-12 header_center">
                <a class="color_fff header_setting">
                    Empowering Survivors To Move Beyond Trauma And Transform Their Lives
                </a>
            </div>
        </div>
    </div>
</div>
<div class="sticky-top sticky">
    <section class="header_mini">
        <div class="container-fluid">
            <div class="row header_mini_row">
                <div class="col-12 col-md-3 padding_menu">
                    <a [routerLink]="['/index']"> <img src="assets/images/logo.png" alt="img" class="logo_width" />
                    </a>

                </div>
                <div class="col-12 col-md-5 align-self-center header_search">
                    <div class="search-container">
                        <form action="/action_page.php" class="search-form">
                            <input type="text" placeholder="Search here.." name="search">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-12 col-md-4 align-self-center header_right">
                    <div class="text-center d-inline-block" *ngFor="let data of socialLinkData | async">
                        <a class="display_table" target="_blank" href="{{data?.link_url}}">
                            <div class="verticle_middle"><i class="{{data?.link_name}}"></i></div>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="header_main header_padding">
        <div class="container-fluid header_padding ">
            <nav class="navbar navbar-toggleable-md navbar-light ">
                <button class="navbar-toggler navbar-toggler-right mt-3 collapsed" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="assets/images/logo.png" alt="img" class="mobile_logo_width" />
                </a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link nav-link1" [routerLink]="['/index']" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact:
                                true}" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"><span>Home</span><span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" [routerLink]="['/about-us']" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact:
                                true}" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"><span>About Us</span> <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" [routerLink]="['/vision']" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact:
                                true}" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"><span>Our Vision</span> <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item " *ngIf="isShopShow">
                            <a class="nav-link" [routerLink]="['/shop']" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact:
                                true}" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"><span>Shop</span> <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" [routerLink]="['/blogs']" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact:
                                true}" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"><span>Blogs </span><span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact:
                                true}" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"><span>Contact Us</span><span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>
</div> -->
<!-- header end here -->