<main>
    <div class="lrpopup" id="myModal" role="dialog">
        <div class="lrpopupinner">
            <div class="lrpopupcontent">

                <div class="subscribe-card">
                    <button id="btnCloseForm" class="close-button">X</button>
                    <h2>Stay up to date!</h2>
                    <p>
                        Subscribe to our weekly newsletter for <br />
                        the latest news and tips.
                    </p>
                    <form class="form-email">
                        <input type="email" aria-label="Email to subscribe" placeholder="email@example.com"
                            class="input-email" required>

                        <button type="submit" class="send-button">
                            Subscribe now
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</main>