<section class="big-section bg-light-gray wow animate__fadeIn" style="visibility: visible; animation-name: fadeIn;">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center text-dark mb-4">
                <h6 class="underline">Power of Affirmations Store</h6>
            </div>
        </div>
        <div class="row align-items-lg-center mb-6 shadowN">
            <div class="col-12 col-lg-4 col-md-12 md-margin-6-rem-bottom sm-margin-4-rem-bottom text-center text-lg-start">
                <img src="../../../../../assets/images/regain/image1.jpg" alt="" data-no-retina="">
            </div>
            <div class="col-12 col-lg-8 col-md-12 last-paragraph-no-margin mt-5 mt-lg-0">
                
                <p class="content">
                    When you see positive quotes or affirmations, you begin the path to change. Affirmations have the power of healing and help in keep going. Shop from our Healing2Peace collections to find your motivation. We have a range of clothing, wall art, and other accessories.
                </p>
                
            </div>
        </div>
        <div class="row  align-items-center justify-content-center pt-5">
            <div class="col-12 col-lg-12 btn-dual text-center">
                <a href="/shop" class="btn btn-large btn-gradient-sky-blue-pink btn-slide-left-bg d-table d-lg-inline-block lg-margin-15px-bottom md-margin-auto-lr fs-4">Shop Now <span class="bg-dark-slate-blue"></span></a>
            </div>
        </div>
    </div>
</section>