<!-- start ebook section -->
<section class="ebook-section" style="background-image: url(assets/images/about-us.png);">
    <div class="container">
        <div class="row">
            <div class="content-column col-lg-12 col-md-12 col-sm-12">
                <div class="content-box box-con">
                    <!-- <div class="text">
                            <h1>Blog</h1>
                        </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--end ebook section -->
<!-- meet me start here -->

<!-- <section class="meet_me">
    <div class="container-fluid">
        <div class="row col-md-12 col-sm-12 meet_row">
            <div class="col-md-12 col-sm-12 meet_text_heading">
                <h5>About Us</h5>
                <p *ngFor="let data of meetMeData | async" [innerHTML]="data?.content_title"></p>
            </div>
            <div class="col-md-6 col-sm-12 meet_img_sec">
                <div class="meet_img">
                    <img src="assets/images/anju-new.jpeg" class="img-fluid" alt="meet me image">
                </div>
            </div>
            <div class="col-md-6 col-sm-12 meet_text_sec">
                <div class="meet_text">
                    <h5>I am Anju K</h5>
                    <p *ngFor="let data of meetMeData | async" [innerHTML]="data?.content_description"></p>
                </div>
            </div>
        </div>
    </div>
</section> -->

<div class="container meet-me">
    <div class="row about-header">
        <div class="text-center">
            <h2>Our CEO & Founder</h2>
        </div>        
    </div>
    <div class="row about-ceo">
        <div class="col-md-4">
            <img src="../../../../assets/images/anju.png" alt="">
        </div>
        <div class="col-md-8">
            <h2>Anju K</h2>
            <span>(The Wisdom PRO)</span>
            <p>Anju is a domestic violence and sexual assault survivor. During her 13-year relationship, she suffered and survived every form of abuse and violence. 
                To count a few: 100+ head concussions and injuries, permanent eye damage, 20+ abortions (surgical/non-surgical) and extensive damage to her brain and 
                nervous system.  </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="ceo-motivate">
            <p>She always says, “The best thing is, I am still alive, and the worst thing is, I was killed every night.” </p>
        </div>
    </div>
</div>


<div class="container">
    <div class="row about-more">
        <div class="col-md-9 about-more-content d-flex align-items-center">
            <p>She came to United States with her 2 kids and her abusive husband. As a result of an accident, they got stuck here and couldn’t go back. 
                The violence and abuse in the home kept on increasing day by day till her daughter got hospitalized in critical condition due to the affects. 
                This made Ms. Anju to open about the abuse in front of the doctors. When her daughter was released from the hospital, she was moved to a safe place, 
                the Battered Women and Children’s Shelter. She calls it her re-birth as she was a resident there for 9 months.  </p>
        </div>
        <div class="col-md-3 about-more-right-img">
            <img src="../../../../assets/images/dummy.png" alt="">
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="row about-more">
        <div class="col-md-3 about-more-left-img">
            <img src="../../../../assets/images/dummy.png" alt="">
        </div>
        <div class="col-md-9 about-more-content d-flex align-items-center">
            <p>Her life has been a struggle during and after the abuse. As a result of continuous abuse & trauma, 
                she can’t drive vehicles or work any regular job even though she is very well educated. Her mental/medical 
                conditions and immigration status doesn’t allow her to start a new life, where she already has lost everything.</p>
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="row about-more">
        <div class="col-md-9 about-more-content d-flex flex-column justify-content-center">
            <p class="mb-0">During her recovery towards healing, she found her purpose—she turned her pain into her passion and started a journey to find her peace.</p>
            <p>She started her blog Healing2Peace while still living in the shelter in search of a safe space for herself where she can uncover her sufferings 
                without any judgements. She realized that journaling and documenting her journey, not only helped her and her medical team, but others could 
                relate and found help for themselves too. This also connected her to other survivors, and she found that she is not alone. </p>
            </div>
            <div class="col-md-3 about-more-right-img">
                <img src="../../../../assets/images/dummy.png" alt="">
            </div>
    </div>
</div>
<div class="container mt-4">
    <div class="row about-more">
        <div class="col-md-3 about-more-left-img">
            <img src="../../../../assets/images/dummy.png" alt="">
        </div>
        <div class="col-md-9 about-more-content d-flex flex-column justify-content-center">
            <p class="mb-0" style="text-indent: 0;">She was never alone.</p>
            <p>Since May 2021, she has met many strangers who came forward to embrace her family with kindness and compassion, which changed her perspective of life. 
                She started going to therapy and counseling, which was her mental and emotional support throughout her journey. Finding the right therapist is very 
                important, especially with the history of domestic violence. Working with the right therapist helped her to process and understand her trauma and 
                increased the recovery speed.</p>
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="row about-more">
        <div class="col-md-9 about-more-content d-flex flex-column justify-content-center">
            <p>She was journaling and documenting her life for her self-awareness, but never thought to become a writer. She didn’t believe in herself. 
                Then one day, one more blessing came into her life, her family/editor friend, who encouraged her to start believing and write more, so she did.</p>
        </div>
        <div class="col-md-3 about-more-right-img">
            <img src="../../../../assets/images/dummy.png" alt="">
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="row about-more">
        <div class="col-md-3 about-more-left-img">
            <img src="../../../../assets/images/dummy.png" alt="">
        </div>
        <div class="col-md-9 about-more-content d-flex flex-column justify-content-center">
            <p>Everyone says that she is blessed, but she says that she is grateful as it took a village to make her survival possible—the teamwork of 
                individuals, non-profit organizations and community resources who opened their doors to her. She believes in appreciating the good work 
                and acts of kindness. </p>
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="row about-more">
        <div class="col-md-9 about-more-content d-flex flex-column justify-content-center">
            <p class="mb-0">Now in just a year, she fulfilled her necessities and got her health stable. Working in between her available odd hours (because of constant 
                travel in public transport to her many doctor visits), she has filled her life with integrity and faithfulness. She is on a mission to make 
                an impact on others by leaving a legacy of hope and Healing2Peace. </p>
        </div>
        <div class="col-md-3 about-more-right-img">
            <img src="../../../../assets/images/dummy.png" alt="">
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="row about-more">
        <div class="col-md-3 about-more-left-img">
            <img src="../../../../assets/images/dummy.png" alt="">
        </div>
        <div class="col-md-9 about-more-content d-flex flex-column justify-content-center">
            <p class="mb-0" style="text-indent: 0;">She is a SUPER SURVIVOR, so are YOU!</p>
            <p>That’s why you are here, reading this. If you want to connect with her, follow her on social media, or schedule a call with her to REDISCOVER 
                yourself back.</p>
        </div>
    </div>
</div>

<div class="text-center call-btn">
    <a href="#" class="btn">Schedule a call</a>
</div>

<!-- meet me end here -->