@import '../../../../assets/font/font-family.css';



.meet-me{
    margin-top: 20px;
}
.about-header h2{
    font-family: 'Quickpen';
    margin-top: 20px;
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 900;
}
.about-ceo img{
    width: 300px;
    height: 400px;
    margin-left: 13px;
}
.about-ceo h2{
    font-weight: 700;
    font-size: 40px;
    margin-top: 40px;
}
.about-ceo span{
    font-weight: 600;
    font-size: 24px;
}
.about-ceo p{
    font-size: 22px;
    /* text-indent: 10%; */
    text-align: justify;
    margin-top: 10px;
}
.ceo-motivate{
    margin-top: 20px;
    margin-left: 15px;
}
.ceo-motivate p{
    font-size: 24px;
    border: 1px solid #cecece;
    text-align: center;
    border-radius: 10px;
    padding: 5px 0;
    background: #1ac5b5;
    color: white;
}

.about-more{
    font-size: 22px;
    margin-top: 10px
}
.about-more p{
    /* text-indent: 10%; */
    text-align: justify;
}
.about-more-left-img{
    
    padding-left: -15px;
}
.about-more-left-img img{
    width: 250px;
    height: 300px;
}
.about-more-right-img{
    display: flex;
    justify-content: end;
    padding-left: -15px;
}
.about-more-right-img img{
    width: 250px;
    height: 300px;
}

.call-btn{
    margin: 20px 0;
}
.call-btn a{
    background: #1ac5b5;
    color: #fff;
    padding: 8px 25px;
}