<!-- Banner Section Start -->

<!-- <section class="ebook-section"></section> -->

<!-- Banner Section End -->

<!-- <div class="container-fluid meet-me">
    <div class="row service-header">
        <div class="text-center text-dark">
            <h2>Re-Gain Workshops</h2>
        </div>        
    </div>
</div>
<div class="container-fluid mt-4">
    <div class="row service-more">
        <div class="col-lg-3 service-more-left-img">
            <img src="../../../../../assets/images/regain/image1.jpg">
        </div>
        <div class="col-lg-9 service-more-content-right d-flex flex-column justify-content-center">
            <p>Art & Creativity helps in emotional healing. After coming out of any trauma, a person goes from different phases of pain, grief, or loss. 
                Most DV and abuse survivors lose themselves somewhere in the piles of their past. They need to release that collection of unhealed traumas 
                in a healthy way to heal and restart their lives. But as nothing stops the life, it becomes difficult for them to take a pause and work on 
                their inner child.</p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row service-more">
        <div class="col-lg-9 service-more-content-left d-flex align-items-center">
            <p>With our Re-Gain workshops, we help you to forge a connection between your mind, body, and soul. These workshops are designed & hosted by 
                our founder, Anju K herself. She works on personally to get to know what works for you best like art, craft, writing or creating something 
                to heal you from deep inside. We specialize in using the leftover, thrifted or rejected pieces to create something new which is beautiful, 
                meaningful and sustainable just like you. We help you in getting a stability with your skills & interests. We support you in a customized 
                way so that you become emotionally and financially stable. </p>
        </div>
        <div class="col-lg-3 service-more-right-img">
            <img src="../../../../../assets/images/regain/image2.jpg">
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row service-more">
        <div class="col service-more-content d-flex flex-column align-items-center">
            <p class="text-center">Also, this helps to remember that you were worthy, and you are still worthy. Only you need to REDISCOVER yourself!</p>
            <p class="text-center">Let’s find a way that make you gain your power back, schedule a discovery call with us.</p>
        </div>
    </div>
</div> -->


<section class="big-section bg-light-gray wow animate__fadeIn" style="visibility: visible; animation-name: fadeIn;">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center text-dark mb-4">
                <h6 class="underline">Re-Gain Workshops</h6>
            </div>
        </div>
        <div class="row align-items-lg-center mb-6 shadowN">
            <div class="col-12 col-lg-4 col-md-12 md-margin-6-rem-bottom sm-margin-4-rem-bottom text-center text-lg-start">
                <img src="../../../../../assets/images/regain/image1.jpg" alt="" data-no-retina="">
            </div>
            <div class="col-12 col-lg-8 col-md-12 last-paragraph-no-margin mt-5 mt-lg-0">
                <p class="content">
                    Art &amp; Creativity helps in emotional healing. After coming out of any trauma, a person goes from different phases of pain, grief, or loss. Most DV and abuse survivors lose themselves somewhere in the piles of their past. They need to release that collection of unhealed traumas in a healthy way to heal and restart their lives. But as nothing stops the life, it becomes difficult for them to take a pause and work on their inner child. Art &amp; Creativity helps in decreasing stress and perception of pain, it imporves the quality of life. It is prooved that 45 minutes of creative activity can make a huge difference in mental health.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="big-section wow animate__fadeIn shadowN" style="visibility: visible; animation-name: fadeIn;">
    <div class="container">
        <div class="row align-items-lg-center my-1 ">
            <div class="col-12 col-lg-8 col-md-12 last-paragraph-no-margin mt-5 mt-lg-0">
                <p class="content">With our Re-Gain workshops, we help you to forge a connection between your mind, body, and soul. These workshops are designed &amp; hosted by our founder, Anju K herself. She works on personally to get to know what works for you best like art, craft, writing or creating something to heal you from deep inside. We specialize in using the leftover, thrifted or rejected pieces to create something new which is beautiful, meaningful and sustainable just like you. We help you in getting a stability with your skills &amp; interests. We support you in a customized way so that you become emotionally and financially stable. </p>
            </div>
            <div class="col-12 col-lg-4 col-md-12 md-margin-6-rem-bottom sm-margin-4-rem-bottom text-center text-lg-end order-first order-lg-last">
                <img src="../../../../../assets/images/regain/image2.jpg" alt="" data-no-retina="">
            </div>
        </div>

        <div class="row align-items-lg-center mt-5 mb-3">
            <div class="col-12 last-paragraph-no-margin ">
                <p class="content text-center">Also, this helps to remember that you were worthy, and you are still worthy. Only you need to REDISCOVER yourself!</p>
                <p class="content text-center">Let’s find a way that make you gain your power back, schedule a discovery call with us.</p>
            </div>
        </div>

        <div class="row  align-items-center justify-content-center pt-5">
            <div class="col-12 col-lg-12 btn-dual text-center">
                <a href="https://calendly.com/thewisdompro" class="btn btn-large btn-gradient-sky-blue-pink btn-slide-left-bg d-table d-lg-inline-block lg-margin-15px-bottom md-margin-auto-lr fs-4">schedule a call<span class="bg-dark-slate-blue"></span></a>
            </div>
        </div>
    </div>
</section>


<!-- <div class="text-center call-btn my-5">
    <a [routerLink]="['/contact']" class="btn">Contact Us</a>
</div> -->