<!-- start ebook section -->
<section class="ebook-section" style="background-image: url(assets/images/vision-banner.jpg);">
    <div class="container">
        <div class="row">
            <div class="content-column col-lg-12 col-md-12 col-sm-12">
                <div class="content-box box-con">
                    <!-- <div class="text">
                            <h1>Blog</h1>
                        </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--end ebook section -->
<!-- vision start here -->
<section class="vision m-0">
    <div class="container-fluid">
        <div class="row col-md-12 col-sm-12 vision_row">
            <div class="col-md-12 col-sm-12 vision_text_heading">
                <h5>Our Vision</h5>
                <p *ngFor="let data of OurVisionData | async" [innerHTML]="data?.content_title"></p>
            </div>
            <div class="col-md-6 col-sm-12 vision_text_sec">
                <div class="vision_text" *ngFor="let data of OurVisionData | async">
                    <p [innerHTML]="data?.content_description"></p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 vision_img_sec">
                <div class="vision_img">
                    <img src="assets/images/vision.jpg" class="img-fluid" alt="vision me image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- vision end here -->