

<!-- carousel start here -->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active banner1_img">
      <div class="banner_overcolor">
        <!-- <img src="assets/images/banner1.png" class="d-block w-100" alt="" /> -->
        <div class="carousel-caption carousel-caption1">
          <!-- <div class="carousel-text">
          <p>Healing 2 Peace</p>
          <h2>Upcoming Services</h2>
          <a [routerLink]="['/support']" class="btn btn-green">Support </a>
        </div> -->
        </div>
      </div>
    </div>
    <div class="carousel-item banner2_img">
      <div class="banner_overcolor">
        <!-- <img src="assets/images/banner2.png" class="d-block w-100" alt="" /> -->
        <!-- <img src="assets/images/banner2.jpg" class="d-block w-100" alt="" /> -->
        <div class="carousel-caption carousel-caption1">
          <!-- <div class="carousel-text">
          <p>Healing 2 Peace</p>
          <h2>Upcoming Events</h2>
          <a [routerLink]="['/support']" class="btn btn-green">Support</a>
        </div> -->
        </div>
      </div>
    </div>
    <div class="carousel-item banner3_img">
      <div class="banner_overcolor">
        <!-- <img src="assets/images/banner3.png" class="d-block w-100" alt="" /> -->
        <div class="carousel-caption carousel-caption1">
          <!-- <div class="carousel-text">
          <p>Healing 2 Peace</p>
          <h2>Upcoming Products</h2>
          <a [routerLink]="['/support']" class="btn btn-green">Support</a>
        </div> -->
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous </span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next </span>
  </a>
</div>
<!-- carousel end here -->

<!-- Tag Line Start From Here -->
<div class="container">
  <div class="row">
    <div class="tag-line ">
      <p>Let’s make the change happen by REDEFINING the things we can – Anju K (The Wisdom PRO) </p>
    </div>
  </div>
</div>

<!-- Tag Line End Here -->

<!--text mask section start-->
<section class="py-10">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="light">
          <h1 class="text-center">EDUCATE</h1>
         <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/houston.jpg" alt="Houston skyline">
       </div>
      </div>
      <div class="col-lg-4">
        <div class="light">
          <h1 class="text-center">EMPOWER</h1>
         <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/houston.jpg" alt="Houston skyline">
       </div>
      </div>
      <div class="col-lg-4">
        <div class="light">
          <h1 class="text-center">ENCOURAGE</h1>
         <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/houston.jpg" alt="Houston skyline">
       </div>
      </div>
    </div>
  </div>
</section>
<!--text mask section end-->





<!-- Feature start here -->
<section class="blog_post">
  <div class="container">
    <div class="row d-flex blog_post_row">
      <div class="blog_post_text col-lg-12 col-md-12 col-sm-12">
        <span class="d-inline-block alt-font text-medium text-gradient-sky-blue-pink text-uppercase font-weight-500 margin-20px-bottom sm-margin-15px-bottom mt-3">Media & Press</span>
      </div>
      <owl-carousel-o [options]="featuresOptions">
        <ng-container *ngFor="let data of [1]">
          <ng-template carouselSlide>
            <a>
              <div class="blog_col">
                <div class="blog_slide">
                  <a href="https://voyagesanantonio.com/interview/meet-anju-kumari-of-northwest/" class="blog_img">
                    <img src="assets/images/feature1.jpeg" class="img-fluid" alt="feature image" />
                  </a>
                  <div class="blog_btn">
                    <a href="https://voyagesanantonio.com/interview/meet-anju-kumari-of-northwest/"
                      class="read-more btn btn-block">Click to View</a>
                  </div>
                </div>
              </div>
            </a>
          </ng-template>
          <ng-template carouselSlide>
            <a>
              <div class="blog_col">
                <div class="blog_slide">
                  <a href="https://www.ksat.com/news/local/2022/06/20/after-13-years-in-abusive-relationship-san-antonio-woman-begins-using-her-voice-for-good/"
                    class="blog_img">
                    <img src="assets/images/feature2.jpeg" class="img-fluid" alt="feature image" />
                  </a>
                  <div class="blog_btn">
                    <a href="https://www.ksat.com/news/local/2022/06/20/after-13-years-in-abusive-relationship-san-antonio-woman-begins-using-her-voice-for-good/"
                      class="read-more btn btn-block">Click to View</a>
                  </div>
                </div>
              </div>
            </a>
          </ng-template>
          <ng-template carouselSlide>
            <a>
              <div class="blog_col">
                <div class="blog_slide">
                  <a href="https://foxsanantonio.com/news/sastrong/sa-strong-i-stand-with-them-abuse-survivor-shares-story-to-help-others"
                    class="blog_img">
                    <img src="assets/images/feature3.jpeg" class="img-fluid" alt="feature image" />
                  </a>
                  <div class="blog_btn">
                    <a href="https://foxsanantonio.com/news/sastrong/sa-strong-i-stand-with-them-abuse-survivor-shares-story-to-help-others"
                      class="read-more btn btn-block">Click to View</a>
                  </div>
                </div>
              </div>
            </a>
          </ng-template>
          <ng-template carouselSlide>
            <a>
              <div class="blog_col">
                <div class="blog_slide">
                  <a href="https://youtu.be/v4jlcZLA_lU" class="blog_img">
                    <img src="assets/images/feature4.png" class="img-fluid" alt="feature image" />
                  </a>
                  <div class="blog_btn">
                    <a href="https://youtu.be/v4jlcZLA_lU" class="read-more btn btn-block">Click to View</a>
                  </div>
                </div>
              </div>
            </a>
          </ng-template>
          <ng-template carouselSlide>
            <a>
              <div class="blog_col">
                <div class="blog_slide">
                  <a href="https://thepinkjourney.in/2022/03/07/how-healing-2-peace-came-into-existence-by-a-domestic-violence-survivor/
                  " class="blog_img">
                    <img src="assets/images/feature10.png" class="img-fluid" alt="feature image" />
                  </a>
                  <div class="blog_btn">
                    <a href="https://thepinkjourney.in/2022/03/07/how-healing-2-peace-came-into-existence-by-a-domestic-violence-survivor/
                    " class="read-more btn btn-block">Click to View</a>
                  </div>
                </div>
              </div>
            </a>
          </ng-template>
          <ng-template carouselSlide>
            <a>
              <div class="blog_col">
                <div class="blog_slide">
                  <a href="https://podcasts.apple.com/us/podcast/anju-k-from-healing-2-peace/id1556867442?i=1000581672227
                  " class="blog_img">
                    <img src="assets/images/feature6.png" class="img-fluid" alt="feature image" />
                  </a>
                  <div class="blog_btn">
                    <a href="https://podcasts.apple.com/us/podcast/anju-k-from-healing-2-peace/id1556867442?i=1000581672227
                    " class="read-more btn btn-block">Click to View</a>
                  </div>
                </div>
              </div>
            </a>
          </ng-template>
          <ng-template carouselSlide>
            <a>
              <div class="blog_col">
                <div class="blog_slide">
                  <a href="https://open.spotify.com/episode/59byl31wXKNfompoTAtGVm?si=sOMRcl8uSOSSPcliekuVAw&utm_source=copy-link"
                    class="blog_img">
                    <img src="assets/images/feature7.png" class="img-fluid" alt="feature image" />
                  </a>
                  <div class="blog_btn">
                    <a href="https://open.spotify.com/episode/59byl31wXKNfompoTAtGVm?si=sOMRcl8uSOSSPcliekuVAw&utm_source=copy-link"
                      class="read-more btn btn-block">Click to View</a>
                  </div>
                </div>
              </div>
            </a>
          </ng-template>
          <ng-template carouselSlide>
            <a>
              <div class="blog_col">
                <div class="blog_slide">
                  <a href="https://canvasrebel.com/meet-anju-k/" class="blog_img">
                    <img src="assets/images/feature8.png" class="img-fluid" alt="feature image" />
                  </a>
                  <div class="blog_btn">
                    <a href="https://canvasrebel.com/meet-anju-k/" class="read-more btn btn-block">Click to View</a>
                  </div>
                </div>
              </div>
            </a>
          </ng-template>
          <ng-template carouselSlide>
            <a>
              <div class="blog_col">
                <div class="blog_slide">
                  <a href="https://startupreporter.in/how-healing-2-peace-came-into-existence-by-a-domestic-violence-survivor/?amp
                  " class="blog_img">
                    <img src="assets/images/feature9.png" class="img-fluid" alt="feature image" />
                  </a>
                  <div class="blog_btn">
                    <a href="https://startupreporter.in/how-healing-2-peace-came-into-existence-by-a-domestic-violence-survivor/?amp
                    " class="read-more btn btn-block">Click to View</a>
                  </div>
                </div>
              </div>
            </a>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
</section>
<!-- Feature end here -->

<!-- vision mission start-->
<section class="bg22 my-5">
  <div class="container">
      <!-- <div class="row justify-content-center">
          <div class="col-12 col-xl-5 col-lg-6 col-md-8 col-sm-7 text-center margin-11-rem-bottom md-margin-4-rem-bottom wow animate__fadeIn" style="visibility: visible; animation-name: fadeIn;">
              
              
          </div>
      </div> -->
      <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 justify-content-center py-20" >
          <!-- start text box item -->
          <div class="col-sm-4 ">
              <div class="col last-paragraph-no-margin md-margin-30px-bottom sm-margin-30px-bottom wow animate__fadeIn card-border" data-wow-duration="0.3" style="visibility: visible; animation-name: fadeIn;">
              <div class="alt-font text-extra-large font-weight-500 text-extra-dark-gray w-50 xs-w-100">Our Vision</div>
              <div class="text-large font-weight-500 alt-font text-fast-blue d-block margin-1-rem-tb">
                  <span class="w-75 h-1px d-inline-block align-middle bg-fast-blue margin-10px-right lg-w-85 sm-w-90 xs-margin-5px-right"></span>01
              </div>
              <p class="lg-w-90 content">We are here to provide a safe space for trauma and abuse survivors to help them lead a life of their own dreams and passion with emotional well-being, empowerment and financial stability. </p>
          </div>
          </div>
          <!-- end text box item -->
          <!-- start text box item -->
          <div class="col-sm-4">
              <div class="col last-paragraph-no-margin md-margin-30px-bottom sm-margin-30px-bottom wow animate__fadeIn card-border" data-wow-duration="0.5" style="visibility: visible; animation-name: fadeIn;">
              <div class="alt-font text-extra-large font-weight-500 text-extra-dark-gray w-50 xs-w-100">Our Mission</div>
              <div class="text-large font-weight-500 alt-font text-fast-blue d-block margin-1-rem-tb">
                  <span class="w-75 h-1px d-inline-block align-middle bg-fast-blue margin-10px-right lg-w-85 sm-w-90 xs-margin-5px-right"></span>02
              </div>
              <p class="lg-w-90 content">We are on a mission to promote self-reliance and empower survivors to transform their lives by turning their trauma, pain, and rejection into something beautiful, meaningful, and sustainable.</p>
          </div>
          </div>
          <!-- end text box item -->
          <!-- start text box item -->
         <div class="col-sm-4">
              <div class="col last-paragraph-no-margin wow animate__fadeIn card-border" data-wow-duration="0.5" style="visibility: visible; animation-name: fadeIn;">
              <div class="alt-font text-extra-large font-weight-500 text-extra-dark-gray w-45 lg-w-50 xs-w-100">Our Values</div>
              <div class="text-large font-weight-500 alt-font text-fast-blue d-block margin-1-rem-tb">
                  <span class="w-75 h-1px d-inline-block align-middle bg-fast-blue margin-10px-right lg-w-85 sm-w-90 xs-margin-5px-right"></span>03
              </div>
              <p class="lg-w-90 content">We are a team of dreamers, full of ideas and imagination. As every individual is unique, so their needs are also unique. We believe in innovation and growth along with compassion towards each other.</p>
          </div>
         </div>
          <!-- end text box item -->
      </div>
  </div>    </section>
<!-- vision mission end-->

<!-- Vision Mission Values --- start from here -->

<!--<div class="row dream">
  <div class="col-md-4">
    <div class="dream-vision">
      <h2>Our Vision</h2>
      <p>To provide a safe space for trauma and abuse survivors where they feel heard, validated, and valued. We want
        them to lead a life of their own dreams and passion with emotional well-being and financial stability. </p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="dream-vision">
      <h2>Our Mission</h2>
      <p>To promote self-reliance and empower survivors to transform their lives by turning their trauma, pain, and
        rejection into something beautiful, meaningful, and sustainable. </p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="dream-vision">
      <h2>Our Values</h2>
      <p>Every individual is unique, so their needs are also unique. We believe in innovation and growth with kindness
        and compassion towards each other. </p>
    </div>
  </div>
</div> -->


<!-- Vision Mission Values --- end here -->

<!-- blog start here -->
<section class="blog_post">
  <div class="container">
    <div class="row d-flex blog_post_row">
      <div class="blog_post_text col-lg-12 col-md-12 col-sm-12">
        <span class="d-inline-block alt-font text-medium text-gradient-sky-blue-pink text-uppercase font-weight-500 margin-20px-bottom sm-margin-15px-bottom">Blogs</span>
        
      </div>
      <div class="col-md-4 col-sm-12 blog_col" *ngFor="let feature of blogFeatures | async">
        <div class="blog_slide">
          <div class="blog_img">
            <img src="{{ imageUrl + 'assets/blogs/' + feature?.blog_image }}" class="img-fluid" alt="blog image" />
          </div>
          <div class="blog_content">
            <h3 class="blog_title">
              <a (click)="readMore(feature)">{{
                feature?.blog_title | substr: 36
                }}</a>
            </h3>
            
            <p class="blog_author">
              <a class="float-left text-black"><i class="fas fa-hashtag"></i> {{ feature?.category_name }}</a>
            </p><br>
            <p class="blog_description" [innerHTML]="feature?.blog_description | substr: 50"></p>
            <p class="fs-6">
              <img class="avtar-image" src="../../../../assets/images/page 2/ceo2.jpg" alt="" data-no-retina="">{{ feature?.author_name }}
              <a class="float-right text-black">{{ feature?.created_on | date }}</a>
            </p>
          </div>
          <div class="blog_btn">
            <a class="read-more btn btn-block" (click)="readMore(feature)">READ MORE</a>
          </div>
        </div>
      </div>
      <div class="text-center mt-2 mb-5">
        <a [routerLink]="['/blogs']" class="btn btn-green">View All</a>
      </div>
    </div>
  </div>
</section>
<!-- blog end here -->

<!-- testimonial start here -->
<section class="bg">  
  <div class="wrapper" id="wrapper">
    <div>
      <p id="p1"></p>
      <p id="p2"></p>
    </div>
    <div class="quote-row" style="min-height: 770px;">
      <div class="quote-column col-active show moves"
        style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -4.83, 0, 1); left: 214px; top: -140px; width: 60px; height: 60px;">
        <div class="col-inner">
          <div class="author-meta">
            <div class="box-image-inner image-cover">
              <img
                src="https://images.unsplash.com/photo-1514222709107-a180c68d72b4?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTQzfHxwZW9wbGV8ZW58MHx8MHx8&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=60"
                data-no-retina="">
            </div>
            <div class="author-info">
              <div class="author-name">
                <p class="person-name">Alex</p>
              </div>
              <!-- <div class="author-status">
                <p class="person-title"> IT Solution Company </p>
              </div> -->
            </div>
          </div>
          <div class="quote-wrapper">
            <div class="quote-symbol">❛</div>
            <div class="box-text-inner">
              <p>I feel like I am making decisions for the first time in my life for me and my kids. I was suggested by a close friend to contact Anju, so I did. By joining her support groups, I learned a lot about the healing process and the other resources to get help.</p>
            </div>
            <div class="quote-symbol">❜</div>
          </div>
        </div>
      </div>
      <div class="quote-column moves"
        style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 27.08, 0, 1); left: 352px; top: 0px; width: 61px; height: 61px;">
        <div class="col-inner">
          <div class="author-meta">
            <div class="box-image-inner image-cover">
              <img
                src="https://images.unsplash.com/photo-1524504388940-b1c1722653e1?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=687&amp;q=80"
                data-no-retina="">
            </div>
            <div class="author-info">
              <div class="author-name">
                <p class="person-name">Helen</p>
              </div>
              <!-- <div class="author-status">
                <p class="person-title"> IT Solution Company </p>
              </div> -->
            </div>
          </div>
          <div class="quote-wrapper">
            <div class="quote-symbol">❛</div>
            <div class="box-text-inner">
              <p>Thanks for bringing hope to my life. As a domestic violence survivor, I lost myself and my identity years ago and felt stuck, but when I saw Anju speaking at one event in March, I got empowered by her words and positive attitude.</p>
            </div>
            <div class="quote-symbol">❜</div>
          </div>
        </div>
      </div>
      <div class="quote-column moves"
        style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.14, 0, 1); left: 155px; top: 140px; width: 60px; height: 60px;">
        <div class="col-inner">
          <div class="author-meta">
            <div class="box-image-inner image-cover">
              <img
                src="https://images.unsplash.com/photo-1488426862026-3ee34a7d66df?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=687&amp;q=80"
                data-no-retina="">
            </div>
            <div class="author-info">
              <div class="author-name">
                <p class="person-name">Lauren</p>
              </div>
              <!-- <div class="author-status">
                <p class="person-title"> IT Solution Company </p>
              </div> -->
            </div>
          </div>
          <div class="quote-wrapper">
            <div class="quote-symbol">❛</div>
            <div class="box-text-inner">
              <p>When I first read Anju's story, I got inspired and contacted her to know more about her healing journey. I was amazed to know about her sufferings and how she survived everything but never quit. Now I am a part of her coaching and discovering myself</p>
            </div>
            <div class="quote-symbol">❜</div>
          </div>
        </div>
      </div>
      
      
      <div class="quote-column moves"
        style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -10.41, 0, 1); left: 211px; top: 560px; width: 61px; height: 61px;">
        <div class="col-inner">
          <div class="author-meta">
            <div class="box-image-inner image-cover">
              <img
                src="https://images.unsplash.com/photo-1504439904031-93ded9f93e4e?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTl8fHBlb3BsZXxlbnwwfHwwfHw%3D&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=60"
                data-no-retina="">
            </div>
            <div class="author-info">
              <div class="author-name">
                <p class="person-name">Luich Harry</p>
              </div>
              <!-- <div class="author-status">
                <p class="person-title"> IT Solution Company </p>
              </div> -->
            </div>
          </div>
          <div class="quote-wrapper">
            <div class="quote-symbol">❛</div>
            <div class="box-text-inner">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book.</p>
            </div>
            <div class="quote-symbol">❜</div>
          </div>
        </div>
      </div>
      <div class="quote-column moves"
        style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -10.8, 0, 1); right: 131px; left: auto; top: 560px; width: 60px; height: 60px;">
        <div class="col-inner">
          <div class="author-meta">
            <div class="box-image-inner image-cover">
              <img
                src="https://images.unsplash.com/photo-1474176857210-7287d38d27c6?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTA3fHxwZW9wbGV8ZW58MHx8MHx8&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=60"
                data-no-retina="">
            </div>
            <div class="author-info">
              <div class="author-name">
                <p class="person-name">Luke</p>
              </div>
              <!-- <div class="author-status">
                <p class="person-title"> IT Solution Company </p>
              </div> -->
            </div>
          </div>
          <div class="quote-wrapper">
            <div class="quote-symbol">❛</div>
            <div class="box-text-inner">
              <p>I was feeling lost and stuck in my mind. Anju has been fantastic in helping me work out what was important in my life, my long-term goals, and how to achieve them. I have gained a lot of clarity and look forward to learning more.</p>
            </div>
            <div class="quote-symbol">❜</div>
          </div>
        </div>
      </div>
      
     
      <div class="quote-column moves"
        style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -10.02, 0, 1); right: 263px; left: auto; top: 140px; width: 60px; height: 60px;">
        <div class="col-inner">
          <div class="author-meta">
            <div class="box-image-inner image-cover">
              <img
                src="https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTM1fHxwZW9wbGV8ZW58MHx8MHx8&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=60"
                data-no-retina="">
            </div>
            <div class="author-info">
              <div class="author-name">
                <p class="person-name">Hanry Harry</p>
              </div>
              <!-- <div class="author-status">
                <p class="person-title"> IT Solution Company </p>
              </div> -->
            </div>
          </div>
          <div class="quote-wrapper">
            <div class="quote-symbol">❛</div>
            <div class="box-text-inner">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book.</p>
            </div>
            <div class="quote-symbol">❜</div>
          </div>
        </div>
      </div>
      <div class="quote-column moves"
        style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -16, 0, 1); right: 379px; left: auto; top: 0px; width: 60px; height: 60px;">
        <div class="col-inner">
          <div class="author-meta">
            <div class="box-image-inner image-cover">
              <img
                src="https://images.unsplash.com/photo-1593508512255-86ab42a8e620?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cm9ib3R8ZW58MHwyfDB8fA%3D%3D&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=60"
                data-no-retina="">
            </div>
            <div class="author-info">
              <div class="author-name">
                <p class="person-name">Joseph</p>
              </div>
              <!-- <div class="author-status">
                <p class="person-title"> IT Solution Company </p>
              </div> -->
            </div>
          </div>
          <div class="quote-wrapper">
            <div class="quote-symbol">❛</div>
            <div class="box-text-inner">
              <p>Anju has guided me to realize who I am and what I want from my life. I was struggling with loneliness and depression, which was affecting my world. By connecting with Healing2Peace, LLC I am feeling better day by day and working on my passion.</p>
            </div>
            <div class="quote-symbol">❜</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- testimonial end here -->



<!-- testimonial start here -->
<!-- <section class="testimonial mt-4" *ngIf="(testimonials$ | async)?.length ?? 0 > 0">
  <div id="carouselExampleControls1" class="carousel slide" data-bs-ride="carousel">
    
    <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <div class="carousel-inner">
      <div class="carousel-item" *ngFor="let data of testimonials$ | async; let i = index"
        [ngClass]="i === 0 ? 'active' : ''">
        <div class="card">
          <div class="row">
            <div class="quotes-left col-md-1">
              <div class="float-left">
                <img src="assets/images/quote-left.png" class="img-fluid" />
              </div>
            </div>
            <div class="avatar-container col-md-2">
              <div class="photo">
                <img class="img" src="{{ imageUrl2 + 'assets/testimonial/' + data?.image }}" class="img-fluid" />
              </div>
            </div>
            <div class="details-container col-md-8">
              <div class="content">
                <h3>{{ data?.testimonial_title }}</h3>
                <p [innerHTML]="data?.testimonial_description"></p>
                <p>{{ data?.name }}</p>
              </div>
            </div>
            <div class="quotes-right col-md-1">
              <div class="float-right">
                <img src="assets/images/quote-right.png" class="img-fluid" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- testimonial end here -->

<!-- our vision start here -->
<!-- <section class="vision">
  <div class="container-fluid">
    <div class="row col-md-12 col-sm-12 vision_row">
      <div class="col-md-6 col-sm-12 vision_text_sec">
        <h5>Our Vision</h5>
        <div class="vision_text" *ngFor="let data of ourVisionData | async">
          <p [innerHTML]="data?.content_description"></p>
        </div>
        <a [routerLink]="['/vision']" class="btn btn-green">READ MORE</a>
      </div>
      <div class="col-md-6 col-sm-12 vision_img_sec">
        <div class="vision_img">
          <img
            src="assets/images/vision.jpg"
            class="img-fluid"
            alt="our vision image"
          /> -->
<!-- <img
            src="assets/images/vision.png"
            class="img-fluid"
            alt="our vision image"
          /> -->
<!-- </div>
      </div>
    </div>
  </div>
</section> -->
<!-- our vision end here -->

<!-- meet me start here -->
<!-- <section class="meet_me">
  <div class="container-fluid">
    <div class="row col-md-12 col-sm-12 meet_row">
      <div class="col-md-6 col-sm-12 meet_img_sec">
        <div class="meet_img">
          <img
            src="assets/images/anju-new.jpeg"
            class="img-fluid"
            alt="meet me image"
          />
        </div>
      </div>
      <div class="col-md-6 col-sm-12 meet_text_sec">
        <h5>About Us</h5>
        <div class="meet_text" *ngFor="let data of meetMeData | async">
          <p [innerHTML]="data?.content_description"></p>
        </div>
        <a [routerLink]="['/about-us']" class="btn btn-green">READ MORE</a>
      </div>
    </div>
  </div>
</section> -->
<!-- meet me end here -->
<!-- our gallery start here -->
<section class="our_gallery mt-0">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div
        class="col-12 col-xl-5 col-lg-6 col-md-8 col-sm-7 text-center margin-4-rem-top md-margin-4-rem-bottom wow animate__fadeIn"
        style="visibility: visible; animation-name: fadeIn;">
        <span
          class="d-inline-block alt-font text-medium text-gradient-sky-blue-pink text-uppercase font-weight-500 margin-20px-bottom sm-margin-15px-bottom">Our
          Gallery</span>

      </div>
    </div>
    <div class="row col-md-12 col-sm-12 gallery_row">

      <div class="col-md-12 col-sm-12 gallery_img_sec">
        <div class="gallery_img">
          <!-- <a><img src='{{imageUrl2 + "assets/gallery/" + data?.image }}' class="img-fluid" alt="galler Image"></a> -->
          <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let data of gallery$ | async">
              <ng-template carouselSlide>
                <a><img src="{{ imageUrl2 + 'assets/gallery/' + data?.image }}" class="img-fluid" alt="galler Image"
                    style="width: 320px;" /></a>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- our gallery end here -->

<!-- shop start here -->
<section class="shop" *ngIf="isShopStatus">
  <div class="container-fluid">
    <div class="row col-md-12 col-sm-12 shop_row">
      <div class="col-md-12 col-sm-12 shop_text">
        <h5>Our Shop</h5>
      </div>
      <div class="col-md-3 col-sm-12 shop_col" *ngFor="let data of shopItems | async">
        <div class="shop_slide">
          <div class="shop_img">
            <img src="{{ imageUrl2 + 'assets/items/' + data?.item_image }}" class="img-fluid" alt="shop image" />
          </div>
          <div class="shop_content">
            <h3 class="shop_title">
              <a>{{ data?.item_name }}</a>
            </h3>
          </div>
          <div class="shop_btn d-flex">
            <!-- <div class="row d-flex"> -->
            <div class="col-md-6 col-sm-12 shop_item_price">
              <a class="item_price">{{
                data?.item_new_price | currency: "CAD":"symbol-narrow"
                }}</a>
            </div>
            <div class="col-md-6 col-sm-12 text-right shop_item_btn">
              <a class="btn btn-green1" (click)="addToCart(data)">Add Cart</a>
            </div>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- shop end here -->
<section class="big-section1 xs-overflow-visible wow animate__fadeIn"
  style="visibility: visible; animation-name: fadeIn;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div
          class="bg-gradient-magenta-orange-2 border-radius-5px padding-55px-tb md-padding-40px-all xs-padding-20px-lr wow animate__fadeIn"
          data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
          <div class="row align-items-center justify-content-center">
            <div class="col-12 col-lg-12  text-lg-end md-margin-30px-bottom sm-margin-20px-bottom">
              <h6 class="alt-font text-center font-weight-500 text-white mb-0">Advertise Here</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="container">
  <div class="row  justify-content-center">
    <div class="col-md-12 text-center ">
      <h6 class="alt-font text-extra-dark-gray font-weight-500">Let's Get Social</h6>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-12 col-md-10 col-sm-12 text-center elements-social social-icon-style-09">
      <ul class="large-icon">
        <li><a class="facebook" href="https://www.facebook.com/healing2peace" target="_blank"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li><a class="twitter" href="https://twitter.com/healing2peace" target="_blank"><i class="fab fa-twitter"></i></a></li>
        <li><a class="google" href="https://www.youtube.com/@Healing2Peace" target="_blank"><i class="fab fa-youtube"></i></a></li>
        <li><a class="linkedin" href="https://www.linkedin.com/company/healing2peace-llc/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        </li>
        <li><a class="instagram" href="https://www.instagram.com/healing2peace/" target="_blank"><i class="fab fa-instagram"></i></a>
        </li>

      </ul>

      <h6 class="alt-font text-extra-dark-gray font-weight-300 ">#healing2peace</h6>
    </div>
  </div>
</div>

<script src="../../../../assets/js/testimonial.js" type="application/json"></script>