<!-- Banner Section Start -->

<!-- <section class="ebook-section" style="background-image: url(../../../../../assets/images/service.jpg);"></section> -->

<!-- Banner Section End -->

<!-- <div class="container-fluid meet-me">
    <div class="row service-header">
        <div class="text-center text-dark">
            <h2>Reading/Writing Groups</h2>
        </div>        
    </div>
</div>
<div class="container-fluid mt-4">
    <div class="row service-more">
        <div class="col-lg-3 service-more-left-img">
            <img src="../../../../../assets/images/read-write/image1.jpg">
        </div>
        <div class="col-lg-9 service-more-content-right d-flex flex-column justify-content-center">
            <p>Reading helps you to understand the world around you & writing helps you to understand yourself in better ways. Reading the right content 
                at the right time increases productivity and expressive writing reduces stress, anxiety, and depression. With the combination of both, you 
                can find focus and clarity about your passion and purpose. This also helps in organizing your thoughts and give a meaning to your life. </p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row service-more">
        <div class="col-lg-9 service-more-contentleft d-flex flex-column justify-content-center">
            <p class="mb-0">These groups are focused on your healing via both techniques and conducted by professionals and published authors.</p>
            <p>If you want to write & publish your own writings, we are here to help you in that too. You never know when you get to become a bestseller!</p>
        </div>
        <div class="col-lg-3 service-more-right-img">
            <img src="../../../../../assets/images/read-write/image2.jpg">
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row service-more">
        <div class="col service-more-content d-flex flex-column align-items-center">
            <p>Schedule a discovery Call</p>
        </div>
    </div>
</div> -->

<section class="big-section bg-light-gray wow animate__fadeIn" style="visibility: visible; animation-name: fadeIn;">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center text-dark mb-4">
                <h6 class="underline">Reading/Writing Groups</h6>
            </div>
        </div>
        <div class="row align-items-lg-center mb-6 shadowN">
            <div class="col-12 col-lg-4 col-md-12 md-margin-6-rem-bottom sm-margin-4-rem-bottom text-center text-lg-start">
                <img src="../../../../../assets/images/read-write/image1.jpg" alt="" data-no-retina="">
            </div>
            <div class="col-12 col-lg-8 col-md-12 last-paragraph-no-margin mt-5 mt-lg-0">
                <p class="content">
                    Reading helps you to understand the world around you &amp; writing helps you to understand yourself in better ways. Reading the right content at the right time increases productivity and expressive writing reduces stress, anxiety, and depression. With the combination of both, you can find focus and clarity about your passion and purpose. This also helps in organizing your thoughts and give a meaning to your life. Reading good content is food to your mind just like eating is to your body.
            </p></div>
        </div>
    </div>
</section>

<section class="big-section wow animate__fadeIn" style="visibility: visible; animation-name: fadeIn;">
    <div class="container">
        <div class="row align-items-lg-center my-1">


            <div class="col-12 col-lg-8 col-md-12 last-paragraph-no-margin mt-5 mt-lg-0">
                <p class="content">These groups are focused on your healing via both techniques and conducted by professionals and published authors. By joining these groups you feel motivated and get clarity about you goals in your life. This is a series of different sessions stretched over 2 months but can be changed according to the individual requirements. These are from our signature module model but focused on trauma surviours as their needs are different.</p>
                <p class="content">Also if you want to write &amp; publish your own writings, we are here to help you in that too. You never know when you get to become a bestseller!</p>
            </div>
            <div class="col-12 col-lg-4 col-md-12 md-margin-6-rem-bottom sm-margin-4-rem-bottom text-center text-lg-end shadowN order-first order-lg-last">
                <img src="../../../../../assets/images/read-write/image2.jpg" alt="" data-no-retina="">
            </div>
        </div>

        <div class="row align-items-center justify-content-center mt-5 mb-3 mb-lg-0">
            <div class="col-12 col-lg-12 btn-dual text-center">
                <a href="https://calendly.com/thewisdompro" class="btn btn-large btn-gradient-sky-blue-pink btn-slide-left-bg d-table d-lg-inline-block lg-margin-15px-bottom md-margin-auto-lr fs-4">schedule a call<span class="bg-dark-slate-blue"></span></a>
            </div>
        </div>


    </div>
</section>


<!-- <div class="text-center call-btn my-5">
    <a [routerLink]="['/contact']" class="btn">Contact Us</a>
</div> -->