<section class="big-section bg-light-gray wow animate__fadeIn" style="visibility: visible; animation-name: fadeIn;">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center text-dark mb-4">
                <h6 class="underline">Memberships</h6>
            </div>
        </div>
        <div class="row align-items-lg-center mb-6 shadowN">
            <div
                class="col-12 col-lg-4 col-md-12 md-margin-6-rem-bottom sm-margin-4-rem-bottom text-center text-lg-start">
                <img src="../../../../../assets/images/regain/image1.jpg" alt="" data-no-retina="">
            </div>
            <div class="col-12 col-lg-8 col-md-12 last-paragraph-no-margin mt-5 mt-lg-0">
                <p class="content">Join Healing2Peace Club!</p>
                <p class="content">
                    Healing2Peace Memberships are groups of like-minded people who want to grow in and out. We have
                    created different memberships according to your availability towards yourself. We understand your
                    other commitments, so we have different offers for you to explore.
                </p>

            </div>
        </div>
    </div>
</section>
<section class="big-section">
    <div class="container">
        
        <div class="row">
            <div class="col-sm-3">
                <div class="card mb-4  border border-dark">
                    <div class="card-header1">
                        <h2 class="text-center">SILVER</h2>
                    </div>
                    <ul class="list-group list-group-flush scrollable-list">
                        <li class="list-group-item">Get 10% off on all services and clubs.</li>
                        <li class="list-group-item">Get 20% off to any 2 events.</li>
                        <li class="list-group-item ">Monthly get-together coffee with the CEO.</li>
                        
                    </ul>
                    <div class="card-footer text-center">
                        <h3 class="pricer mb-0">$150<span class="price-duration">/year</span></h3>
                        <a href="#" class="btn btn-large1 btn-gradient-sky-blue-pink d-lg-inline-block  md-margin-auto-lr fs-4">Join</a>

                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card mb-4 border border-dark">
                    <div class="card-header1">
                        <h2 class="text-center">GOLD</h2>
                    </div>
                    <ul class="list-group list-group-flush scrollable-list">
                        <li class="list-group-item ">Get 10% off on all services and clubs.</li>
                        <li class="list-group-item border-btm border-top">Get 20% off to any 2 events.</li>
                        <li class="list-group-item ">Monthly get-together coffee with the CEO.</li>
                        <li class="list-group-item border-btm border-top">Get free shipping on all purchases above $100.</li>
                        <li class="list-group-item">Annual Dinner Night.</li>
                    </ul>
                    <div class="card-footer text-center">
                        <h3 class="price text-center mb-0">$500<span class="price-duration">/year</span></h3>
                         <a href="#" class="btn btn-large1 btn-gradient-sky-blue-pink d-lg-inline-block  md-margin-auto-lr fs-4">Join</a>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-3">
                <div class="card mb-4 border border-dark">
                    <div class="card-header1">
                        <h2 class="text-center">PLATINUM</h2>
                    </div>
                    <ul class="list-group list-group-flush scrollable-list">
                        <li class="list-group-item ">Get 10% off on all services and clubs.</li>
                        <li class="list-group-item border-btm border-top">Get 20% off to any 2 events.</li>
                        <li class="list-group-item ">Monthly get-together coffee with the CEO.</li>
                        <li class="list-group-item border-btm border-top">Get free shipping on all purchases above $100.</li>
                        <li class="list-group-item">Annual Dinner Night.</li>
                        <li class="list-group-item border-btm border-top">Surprises on special occasions.</li>
                        <li class="list-group-item border-btm">Free Merchandize.</li>
                        <li class="list-group-item border-btm">Get a chance to discuss the upcoming services and programs.</li>
                        <li class="list-group-item">Be on the team for tours to the community and business partners.</li>
                    </ul>
                    <div class="card-footer text-center">
                        <h3 class="price text-center mb-0">$500<span class="price-duration">/year</span></h3>
                         <a href="#" class="btn btn-large1 btn-gradient-sky-blue-pink d-lg-inline-block  md-margin-auto-lr fs-4">Join</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card mb-4 border border-dark">
                    <div class="card-header1">
                        <h2 class="text-center">DIAMOND </h2>
                    </div>
                    <ul class="list-group list-group-flush scrollable-list">
                        <li class="list-group-item">Coming Soon!</li>
                    </ul>
                  
                </div>
            </div>
        </div>
    </div>
</section>