<!-- <section class="ebook-section"></section>

<div class="container-fluid meet-me">
    <div class="row about-header">
        <div class="text-center text-dark">
            <h2>Our Story</h2>
        </div>        
    </div>
</div> -->


<!-- <div class="container-fluid mt-4">
    <div class="row about-more">
        <div class="col-lg-4 about-more-left-img">
            <img src="../../../../assets/images/page 3/story1.jpg">
        </div>
        <div class="col-lg-8 about-more-content-right d-flex flex-column justify-content-center">
            <p>In October 2021, Anju K (CEO & Founder) realized the reason behind her survival during 1 domestic violence awareness 
                event at Our Lady of Lake University. The reason was- to share her story, to fight for herself as only she knew what 
                happened, other than her abuser. </p>
            <span>(Domestic Violence Happens Behind the Closed Doors)</span>
            <p>At the event, she came to know about the existed & available resources, not everyone knows all of them. If community 
                knows about them, they really don’t trust them or reach out to them. </p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row about-more">
        <div class="col-lg-8 about-more-content-left d-flex flex-column justify-content-center">
            <p class="mb-0">She came up with an idea to write her experiences / testimonials for the resources which she found helpful for 
                herself. When she started working on it, she was a resident of BWCS, and some kindhearted woman gave her $20 
                to take her kids to have burgers and fries. Instead, with the support of her kids, she registered the domain 
                Healing2Peace.com in November 2021. </p>
                <p class="mb-0">As her medical condition was not aligned with her purpose, she couldn’t start working on the website. Then her 10 years old 
                    son designed and created the website. Soon the mom-son duo launched the blog website on January 1, 2022. </p>
                <p>Within 6 months, Anju K reached 50+k people around the globe through her blogs and vulnerability, the numbers were remarkable.  </p>
        </div>
        <div class="col-lg-4 about-more-right-img">
            <img src="../../../../assets/images/page 3/story3.jpg">
        </div>
    </div>
</div>
<div class="container-fluid mt-4">
    <div class="row about-more">
        <div class="col-lg-4 about-more-left-img">
            <img src="../../../../assets/images/page 3/story2.jpg">
        </div>
        <div class="col-lg-8 about-more-content-right d-flex flex-column justify-content-center">
            <p class="mb-0">She started getting featured in magazines, podcasts, and local news. By now Healing2Peace became a community, a safe space for others too. 
                She started connecting and helping others from different countries and time zones. There came a time when she was working 16-18 hours, which 
                declined her health even more, she needed to organize everything, and this was her healing too, so pauses to relax were essential. </p>
                <p class="mb-0">She didn’t have a team or money to keep going, even then she started application for Healing2Peace to get registered. She was new 
                    to the legal system and lacked the documents needed. And one day, a blessing came to her, she found an attorney who offered her help in the 
                    process. With the help of her attorney friend, she took a flight of her dreams and took made it Healing2Peace, LLC. </p>
                <p>Now she was an expert to survive almost every struggle, she took the road less travelled or never travelled and decided to serve the community, 
                    made a business from the survivors, for the survivors. </p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row about-more">
        <div class="col-lg-8 about-more-content-left d-flex flex-column justify-content-center">
            <p class="mb-0">At present, we provide different healing & educational programs by focusing the individual needs & situations. We raise awareness and build relationships between available resources and the community. We are here to help you heal and grow in the right direction. </p>
            <p>To know more how we can support you, check out the services, shops, resources and connect with us! 
                Contact Form with button 
                </p>
        </div>
        <div class="col-lg-4 about-more-right-img">
            <img src="../../../../assets/images/page 3/story4.jpg">
        </div>
    </div>
</div> -->


<section class="big-section bg-light-gray wow animate__fadeIn" style="visibility: visible; animation-name: fadeIn;">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center text-dark">
                <h6 class="underline">Our Story</h6>
            </div>
        </div>
        <div class="row align-items-lg-center mb-6">
            <div class="col-12 col-lg-4 col-md-12 md-margin-6-rem-bottom sm-margin-4-rem-bottom text-center text-lg-start shadowN mt-4 mt-lg-0">
                <img src="../../../../assets/images/page 3/story1.jpg" alt="" data-no-retina="">
            </div>
            <div class="col-12 col-lg-8 col-md-12 last-paragraph-no-margin mt-5 mt-lg-0">
                <p class="content">In October 2021, Anju K (CEO &amp; Founder) realized the reason behind her survival during one domestic violence awareness event at Our Lady of Lake University. The reason was - to share her story, to fight for herself as only she knew what happened, other than her abuser. </p>
                <p class="content">
                    (Domestic Violence Happens Behind the Closed Doors)<br>
                    At the event, she came to know about the existed &amp; available resources, not everyone knows all of them. If community knows about them, they really don’t trust them or reach out to them. 
                </p>
            </div>
        </div>
    </div>
</section>
<section class="big-section wow animate__fadeIn " style="visibility: visible; animation-name: fadeIn;">
    <div class="container">
        <div class="row align-items-lg-center my-1">
            <div class="col-12 col-lg-8 col-md-12 last-paragraph-no-margin mt-5 mt-lg-0">
                <p class="content">She came up with an idea to write her experiences / testimonials for the resources which she found helpful for herself. When she started working on it, she was a resident of BWCS, and some kindhearted woman gave her $20 to take her kids to have burgers and fries. Instead, with the support of her kids, she registered the domain Healing2Peace.com in November 2021. </p>
                <p class="content">As her medical condition was not aligned with her purpose, she couldn’t start working on the website. Then her 10 years old son designed and created the website. Soon the mom-son duo launched the blog website on January 1, 2022. </p>
                <p class="content">Within 6 months, Anju K reached 50+k people around the globe through her blogs and vulnerability, the numbers were remarkable. </p>
            </div>
            <div class="col-12 col-lg-4 col-md-12 md-margin-6-rem-bottom sm-margin-4-rem-bottom text-center text-lg-end shadowN order-first order-lg-last">
                <img src="../../../../assets/images/page 3/story3.jpg" alt="" data-no-retina="">
            </div>
        </div>
    </div>
</section>
<section class="big-section bg-light-gray wow animate__fadeIn" style="visibility: visible; animation-name: fadeIn;">
    <div class="container">
        <div class="row align-items-lg-center">
            <div class="col-12 col-lg-4 col-md-12 md-margin-6-rem-bottom sm-margin-4-rem-bottom text-center text-lg-start shadowN">
                <img src="../../../../assets/images/page 3/story2.jpg" alt="" data-no-retina="">
            </div>
            <div class="col-12 col-lg-8 col-md-12 last-paragraph-no-margin mt-5 mt-lg-0">
                <p class="content">She started getting featured in magazines, podcasts, and local news. By now Healing2Peace became a community, a safe space for others too. She started connecting and helping others from different countries and time zones. There came a time when she was working 16-18 hours, which declined her health even more, she needed to organize everything, and this was her healing too, so pauses to relax were essential. </p>
                <p class="content">She didn’t have a team or money to keep going, even then she started application for Healing2Peace to get registered. She was new to the legal system and lacked the documents needed. And one day, a blessing came to her, she found an attorney who offered her help in the process. With the help of her attorney friend, she took a flight of her dreams and took made it Healing2Peace, LLC. </p>
                <p class="content">Now she was an expert to survive almost every struggle, she took the road less travelled or never travelled and decided to serve the community, made a business from the survivors, for the survivors. </p>
            </div>
        </div>
    </div>
</section>
<section class="big-section  wow animate__fadeIn" style="visibility: visible; animation-name: fadeIn;">
    <div class="container">
        <div class="row align-items-lg-center my-1 mb-5">
            <div class="col-12 col-lg-8 col-md-6 last-paragraph-no-margin mt-5 mt-md-0">
                <p class="content">At present, we provide different healing &amp; educational programs by focusing the individual needs &amp; situations. We raise awareness and build relationships between available resources and the community. We are here to help you heal and grow in the right direction. </p>
                <p class="content">To know more how we can support you, check out the services, shops, resources and connect with us! </p>
            </div>
            <div class="col-12 col-lg-4 col-md-6 md-margin-6-rem-bottom sm-margin-4-rem-bottom text-center text-lg-end shadowN order-first order-md-last">
                <img src="../../../../assets/images/page 3/story4.jpg" alt="" data-no-retina="">
            </div>


        </div>



        <div class="row  align-items-center justify-content-center pt-5">
            <div class="col-12 col-lg-12 btn-dual text-center">
                <a href="/support" class="btn btn-large btn-gradient-sky-blue-pink btn-slide-left-bg d-table d-lg-inline-block lg-margin-15px-bottom md-margin-auto-lr fs-4">support<span class="bg-dark-slate-blue"></span></a>
            </div>
        </div>
    </div>
</section>


<!-- <div class="text-center call-btn my-5">
    <a [routerLink]="['/contact']" class="btn">Contact Us</a>
</div> -->