<!-- start ebook section -->
<!-- <section class="ebook-section" style="background-image: url(assets/images/resources.png)">
    <div class="container">
        <div class="row">
            <div class="content-column col-lg-12 col-md-12 col-sm-12">
                <div class="content-box box-con">
                </div>
            </div>
        </div>
    </div>
</section> -->
<!--end ebook section -->
<!--heading sec starts here-->
<section class="resources">
    <div class="container">
        <div class="row col-md-12 resources-row">
            <div class="resources-text">
                <h3 class="heading">Community Partners</h3>
                <!-- <p class="voicemail">Please leave a voicemail or text on Healing2Peace confidential helpline and an
                    advocate
                    will return your call.</p> -->
                <p class="help text-dark">Our tried and trusted non-profit organizations, helped us to reach here.
                    Any names present here on this page under COMMUNITY PARTNERS, have proved their efforts and making an impact on the community. There is no paid endorsement.
                    </p>
                <ul class="points text-dark">
                    <li>If you are in immediate danger, call 911 now.</li>
                </ul>
            </div>
            <!--heading sec ends here-->
            <!--first table starts here-->
            <div class="table-row">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2">Emergency Numbers</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Police Emergency</td>
                            <td>911</td>
                        </tr>
                        <tr>
                            <td>Police Non-Emergency</td>
                            <td>210 207 7273</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--first table ends here-->
            <!--second table starts here-->
            <div class="table-row">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="3">Hotline</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Family Violence Prevention Services Hotline(24 Hours a Day, 365 Days a Year)
                            </td>
                            <td>210 733 8810</td>
                            <td><u>www.fvps.org</u></td>
                        </tr>
                        <tr>
                            <td>The Rape Crisis Center</td>
                            <td>10 349 7173</td>
                            <td><u>www.rapecrisis.com</u></td>
                        </tr>
                        <tr>
                            <td>The National Domestic Violence Hotline</td>
                            <td>800 799 7233</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>National Suicide Hotline</td>
                            <td>800 784 2433</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Department of Family and Protective Services: Abuse/Neglect Hotline:</td>
                            <td>800 252 5400</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--second table ends here-->
            <!--third table starts here-->
            <div class="table-row">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="3">Other Resources</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>TAP: Family Violence Legal Line:</td>
                            <td>800 374 4673</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Texas RioGrande Legal Aid (TRLA)</td>
                            <td>210 212 3700</td>
                            <td><u>www.trla.org</u></td>
                        </tr>
                        <tr>
                            <td>Catholic Charities, Immigration Services</td>
                            <td>210 433 3256</td>
                            <td><u>www.ccaosa.org</u></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- third table ends here -->
            <!--Fourth table starts here-->
            <div class="table-row">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2">More Resources We Reached</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Neuropsychological Institute of San Antonio</td>
                            <td>210 860 9622</td>
                        </tr>
                        <tr>
                            <td>Awaaz San Antonio</td>
                            <td>210 466 6464</td>
                        </tr>
                        <tr>
                            <td>San Antonio Threads</td>
                            <td>210 600 3989</td>
                        </tr>
                        <tr>
                            <td>Carelink</td>
                            <td>210 358 3350</td>
                        </tr>
                        <tr>
                            <td>Big Brother Big Sister</td>
                            <td>210 225 6322</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--Fourth table ends here-->
            <div class="resources-text mt-5">
                
                <p class="help text-dark">If you had a positive encounter/experience with any other resources or non-profit organizations, please share it with us. We love receiving and giving feedback. We would like to know more about your suggestions.
                    </p>
                
            </div>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-lg-12 btn-dual text-center">
                <a href="/contact" class="btn btn-large btn-gradient-sky-blue-pink btn-slide-left-bg d-table d-lg-inline-block lg-margin-15px-bottom md-margin-auto-lr fs-4">contact us<span class="bg-dark-slate-blue"></span></a>
            </div>
        </div>
    </div>
</section>