<section class="resources">
    <div class="container">
        <div class="row col-md-12 resources-row">
            <div class="resources-text">
                <h3 class="heading">Business Partners</h3>
                <!-- <p class="voicemail">Please leave a voicemail or text on Healing2Peace confidential helpline and an
                    advocate
                    will return your call.</p> -->
                <p class="help text-dark">Small Businesses support with offers and collaborations. We support them because we love their products/services, customer support, and quality.
                </p>
                <p class="help text-dark">We are always open to collaborations and business opportunities, please reach out to move forward!
                </p>

            </div>
        </div>
        <div class="row align-items-center justify-content-center mt-5">
            <div class="col-12 col-lg-12 btn-dual text-center">
                <a href="/contact" class="btn btn-large btn-gradient-sky-blue-pink btn-slide-left-bg d-table d-lg-inline-block lg-margin-15px-bottom md-margin-auto-lr fs-4">contact us<span class="bg-dark-slate-blue"></span></a>
            </div>
        </div>
    </div>
</section>